<table class="footer" id="footer">
  <tr>
    <td class="footer">
      <a href="home.html" title="home page Link" target="_parent">home</a> -
      <a href="aboutUs.html">about us</a> -
      terms of use -
      <a href="contributions.html">contributions</a> -
      feedback -
      <a href="contactUs.html">contact us</a> -
      <a href="/logout">sign out</a>
    </td>
  </tr>
  <tr>
    <td class="gr8ph1csFooter">
      <a href="http://www.Gr8ph1cs.com"><img src="_images/Gr8ph1csCreative.png" class="gr8ph1csFooter" alt="Gr8ph1cs Creative Link" longdesc="http://www.Gr8ph1cs.com" /></a>
    </td>
  </tr>
</table>
